.header {
    height: 55px;
    background-color: rgba(60, 60, 60, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgb(30, 30, 30);
    z-index: 100;
    padding-left: 0px;
    padding-right: 0px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 0px;
}

.logo-icon {
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}


.navigation-links-container {
    width: 1fr;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: right;

}

.navigation-links-container div {
    padding: 0px 10px 0px 0px;
}

.navigation-text a {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.15s;
    padding-right: 5px;
}

.navigation-text:hover {
    transform: scale(1.1);
}


@media (max-width: 700px) {

    .navigation-text a {
        font-size: 3.4vw;
    }

}