.main-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 730px;
    text-align: left;
}

.intro-paragraph-container {
    max-width: 450px;
}

.intro-paragraph-container h1 {
    font-size: 40px;
    color: black;
}

.intro-paragraph-container h2,
.intro-paragraph-container h3 {
    font-weight: normal;
}

.intro-paragraph-container a {
    text-decoration: none;
}


.focus-text {
    font-weight: bold;
    color: maroon;
}

.link-text {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.research-diagram-container {
    text-align: left;
    display: flex;
    position: relative;
    margin-left: 0;
    flex-direction: column;
    margin-bottom: 200px;
}

.research-diagram-container h1 {
    font-size: 40px;
    padding: 0;
}

.work-flow-diagram {
    height: 425px;
    width: 425px;
}

@media (max-width: 700px) {
    .intro-paragraph-container h1 {
        font-size: 30px;
    }

    .research-diagram-container h1 {
        font-size: 30px;
    }

    .intro-paragraph-container h2 {
        font-size: 16px;
    }


    .intro-paragraph-container h3 {
        font-size: 14px;
    }
}