.main-content-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 0px;
    left: 0px;
    right: 0px;
    top: 730px;
    align-items: center;
    text-align: left;
    white-space: nowrap;
    flex-direction: column;
}

.intro-paragraph-container h1 {
    font-size: 40px;
    color: black;
}

.intro-paragraph-container h2,
.intro-paragraph-container h3 {
    font-weight: normal;
}

.intro-paragraph-container a {
    text-decoration: none;
}

.focus-text {
    font-weight: bold;
    color: maroon;
}

.link-text {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.research-diagram-container {
    text-align: left;
    display: flex;
    position: relative;
    margin-left: 0;
    flex-direction: column;
    margin-bottom: 200px;
}

.research-diagram-container h1 {
    font-size: 40px;
    padding: 0;
}

.work-flow-diagram {
    height: 350px;
    width: 350px;
}

@media (max-width: 700px) {
    .intro-paragraph-container h1 {
        font-size: 30px;
    }

    .research-diagram-container h1 {
        font-size: 30px;
    }

    .intro-paragraph-container h2 {
        font-size: 16px;
    }


    .intro-paragraph-container h3 {
        font-size: 14px;
    }
}