.overall-container {
    display: flex;
    justify-content: center;
}

.publications-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    max-width: 650px;
    min-width: 250px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}