.projects-container {
    display: flex;
    flex-direction: column;

}

.intro-container h1 {
    font-size: 50px;
}

.biomass-burning-container {
    display: flex;
    position: relative;
    align-items: normal;
    justify-content: right;
    top: 0px;
    border-top: 1px solid rgb(0, 0, 0, 1);
    padding-bottom: 30px;
    background-color: rgb(200, 200, 200, 0.3);
}

.urban-aq-container {
    display: flex;
    position: relative;
    align-items: normal;
    justify-content: right;
    top: 0px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(0, 0, 0, 1);
    background-color: rgb(200, 100, 200, 0.3);
}

.remote-sensing-container {
    display: flex;
    position: relative;
    align-items: normal;
    justify-content: right;
    padding-bottom: 30px;
    border-top: 1px solid rgb(0, 0, 0, 1);
    background-color: rgb(200, 200, 200, 0.3);

}

.co-benefits-container {
    display: flex;
    position: relative;
    align-items: normal;
    justify-content: right;
    padding-bottom: 30px;
    border-top: 1px solid rgb(0, 0, 0, 1);
    background-color: rgb(200, 100, 200, 0.3);

}

.left-section {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 30px 20px 0px 20px;
    padding: 20px;
    overflow: hidden;
    background-color: rgb(50, 50, 50, 0.3);
}

.research-image {
    width: 440px;
    border: 2px solid rgb(0, 0, 0, 1);
}

.right-section p {
    font-size: 32px
}

.left-section h1 {
    font-size: 30px;

}

.right-section {
    display: flex;
    flex-direction: column;
    flex: 4;
    justify-content: center;
    align-items: center;
    text-align: left;
    overflow: hidden;
    margin: 30px 20px 0px 20px;
    padding: 20px;
    background-color: rgb(50, 50, 50, 0.3);
}

@media (max-width: 1500px) {
    .left-section h1 {
        font-size: 2.5vw;
    }

    .research-image {
        width: 100%;
    }

    .right-section p {
        font-size: 2.3vw;
        padding-right: -15px;
    }

}