.biomass-burning-container {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 10px;
    position: absolute;
    justify-content: space-between;
}

.left-section {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    margin: 0 40px 0 20px;
    white-space: nowrap;

}

.left-section h1 {
    font-size: 28px;
}

.research-image {
    height: 300px;
    width: 1fr;
    object-fit: cover;
    object-position: top 0px right 0px;
    border: 2px solid rgba(0, 0, 0, 1);
}

.right-section {
    margin: none;
    padding: none;
    display: flex;
    position: relative;
    width: 2fr;
    top: 110px;
    height: 315px;
    font-size: 20px;
    background-color: aqua;
    overflow: scroll
}

.right-section p {
    padding: 0;
    margin: 0;
}