.contact-icon-container {
    display: flex;
    justify-content: center;
    position: relative;
    left: 0;
    right: 0;
    top: 60px;
    align-items: center;
}

.mail-icon {
    width: 50px;
    margin-right: 10px;
    transition: transform 0.15s;
}

.contact-icon {
    width: 50px;
    height: 50px;
    filter: invert(1);
    margin-right: 10px;
    transition: transform 0.15s;
}



.cv {
    font-family: 'Permanent Marker';
    margin: 0px;
    padding: 0px;
    font-size: 44px;
    color: white;
    transition: transform 0.15s;
}

.cv a {
    text-decoration: none;
    color: white;
}

.mail-icon:hover,
.contact-icon:hover,
.cv:hover {
    transform: scale(1.2);
    cursor: pointer;
}


.cover-picture-container {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 55px;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

.cover-picture {
    height: 670px;
    width: 100%;
    object-fit: cover;
    object-position: top 0px right 0px;
}

.profile-picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    top: 30px;
}

.profile-picture {
    width: 270px;
    height: 270px;
    object-fit: cover;
    object-position: top 0px right 0px;
    border-radius: 135px;
}

.icon-container {
    top: 1550px;
}


.title-text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 70px;
    color: white;
}

.title-text-container h1 {
    font-size: 50px;
    font-weight: bold;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0px;

}

.title-text-container p {
    font-size: 30px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0px;
}


@media (max-width: 750px) {

    .contact-icon-container {
        padding-top: 30px;
    }

    .title-text-container {
        padding-top: 30px;
    }


    .title-text-container h1 {
        font-size: 6.6vw;

    }

    .title-text-container p {
        font-size: 3.9vw
    }

    .profile-picture {
        height: 200px;
        width: 200px;
        border-radius: 100px
    }

    .cover-picture {
        height: 125vw;
        min-height: 600px;
        max-height: 670px;
    }

}